{% extends 'blog/html/base.html' %}

{% block body %}

<div id="content">
<div id="primary">
  <section id="archive" class="archive">

          <div class="collection-title">
            <h2 class="archive-year">{{ tage_name }}</h2>
          </div>


        {% for foo in tag_lists %}

      <div class="archive-post">

        <span class="archive-post-time">
            {{ foo.creation_time |date:'N d'  }}
        </span>

        <span class="archive-post-title">
          <a href="{% url 'specific_article' foo.id %}" class="archive-post-link">
            {{ foo.introduction }}
          </a>
        </span>

      </div>

        {% endfor %}

  </section>

</div>
</div>

{% endblock %}